/*General styles go here*/
:root {
	--night-glow: 0px 0px 30px 0.5vw #fff;
	--moon-set-glow: 0px 0px 30px 2vw #fff, 0px 0px 80px 6vw #F7E0DF, 0px 0px 150px 20vw #F7C4D8, 0px 0px 200px 22vw #F798BE;
	--sun-rise-glow: 0px 0px 30px 2vw #fff, 0px 0px 80px 8vw #F798BE, 0px 0px 150px 18vw #FFA7AB, 0px 0px 200px 22vw #FFBC77;
	--day-glow: 0px 0px 30px 2vw #fff, 0px 0px 60px 10vw #E8BA5A, 0px 0px 150px 16vw #FFBC2C, 0px 0px 200px 22vw #FFA400;
	--sun-set-glow: 0px 0px 30px 2vw #fff, 0px 0px 80px 8vw #FF4A00, 0px 0px 150px 18vw #FF6700, 0px 0px 200px 22vw #FFA400;
	--moon-rise-glow: 0px 0px 30px 2vw #fff, 0px 0px 80px 6vw #FF4A00, 0px 0px 150px 20vw #AE0035, 0px 0px 200px 22vw #80008A;
}

html {
	
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: black;
	max-width: 100vw;
	max-height: 100vh;
	
	overflow: hidden;
}

.content {
	color: white;
}

.head {
	text-align: center;
	
	z-index: 20;
}

.title {
	font-size: 1.5rem;
}

.time {
	font-size: 3rem;
	margin: auto 2px;
}

.period {
	font-size: 1rem;
}

.clock {
	text-align: center;
	position: relative;
	margin: 1vw auto;
	margin-bottom: 0vw;
	max-width: 90vw;
}
.clock::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 50%;
	display: block;
	width: 30vw;
	height: 1px;
	background: linear-gradient(to left, white, black);
}
.clock::after {
	content: "";
	position: absolute;
	right: 0px;
	top: 50%;
	display: block;
	width: 30vw;
	height: 1px;
	background: linear-gradient(to right, white, black);
}

.animation {
	position: relative;
	width: 30vw;
	height: 75vh;
	margin: auto;
}

.sun {	
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  background-color: white;
  
  position: absolute;
  left: calc(15vw/*half wrapper*/ - 3.5vw/*radius*/);
  top: calc(35% + 15vw - 3.5vw);
  
  z-index: 0;

  /*animation: orbit 86400s linear infinite;/*, sunlight 86400s linear infinite;/*86400s
  /*animation-play-state: playing;
  animation-delay: 0s;*/
  
  box-shadow: var(--night-glow);
}

.moon {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  background-color: white;
  
  position: absolute;
  left: calc(15vw/*half wrapper*/ - 3.5vw/*radius*/);
  top: calc(35% + 15vw - 3.5vw);
  
  z-index: 8;

  animation: orbitIn 5s linear 1, orbit 86400s linear infinite;
  animation-play-state: playing;
  animation-delay: 0s;
  
  box-shadow: var(--night-glow);
}

.earth {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  
  position: absolute;
  margin: auto;
  left: 0%;
  top: 35%;
  
  z-index: 10;
  
  animation: earthRotate 86400s linear infinite, shine 86400s linear infinite;
  animation-play-state: playing;
  animation-delay: 0s;
	
  box-shadow: 0vw -3vw 20px 0.1vw white inset;
  /*h-off, v-off, blur, size, color inset/outset*/
}

.container.rise {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: black;
	
  position: absolute;
  margin: auto;
  left: 0%;
  top: 35%;
  
  animation: rotate 86400s infinite linear;
  animation-play-state: paused;
  animation-delay: -21600s;
}
.container.set {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: black;
	
  position: absolute;
  margin: auto;
  left: 0%;
  top: 35%;
  
  animation: rotate 86400s infinite linear;
  animation-play-state: paused;
  animation-delay: -72000s;
}	

.line {
	position: absolute;
	width: 35vw;
	height: 1%;
	right: -35vw;
	top: 50%;
	
	z-index: 9;
	
	background-color: white;
}

.box.rise {
	background-color: black;
	overflow: hidden;
	
	position: absolute;
	width: 50vw;
	height: 200vw;
	right: -35vw;
	bottom: 50%;
	
	z-index: 7;
}
.box.set {
	background-color: black;
	overflow: hidden;
	
	position: absolute;
	width: 60vw;
	height: 200vw;
	right: -50vw;
	top: 50%;
	
	z-index: 7;
}

.fadeInUp {
	animation: fadeInUp 1s linear 1;
}
.fadeIn {
	animation: fadeIn 2s linear 1;
}

@keyframes orbit {
	from {transform: rotate(90deg) translate(27vw) rotate(-90deg);}
	to {transform: rotate(450deg) translate(27vw) rotate(-450deg);}
}

@keyframes sunlight {
	0% {box-shadow: var(--night-glow);}
	13% {box-shadow: var(--moon-set-glow);}
	25% {box-shadow: var(--sun-rise-glow);}
	38% {box-shadow: var(--day-glow);}
	50% {box-shadow: var(--day-glow);}
	63% {box-shadow: var(--day-glow);}
	75% {box-shadow: var(--sun-set-glow);}
	88% {box-shadow: var(--moon-rise-glow);}
	100% {box-shadow: var(--night-glow);}
}

@keyframes shine {
	0% {box-shadow: 0vw -3vw 20px 0.1vw #fff inset;}
	13% {box-shadow: 0vw -3vw 20px 0.1vw #F7E0DF inset;}
	25% {box-shadow: 0vw -3vw 20px 0.1vw #F798BE inset;}
	38% {box-shadow: 0vw -3vw 20px 0.1vw #E8BA5A inset;}
	50% {box-shadow: 0vw -3vw 20px 0.1vw #E8BA5A inset;}
	63% {box-shadow: 0vw -3vw 20px 0.1vw #E8BA5A inset;}
	75% {box-shadow: 0vw -3vw 20px 0.1vw #FF4A00 inset;}
	88% {box-shadow: 0vw -3vw 20px 0.1vw #FF4A00 inset;}
	100% {box-shadow: 0vw -3vw 20px 0.1vw #fff inset;}
}

@keyframes rotate {
	from {transform: rotate(90deg);}
	to {transform: rotate(450deg);}
}

@keyframes earthRotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}








/*Smaller mobile device styles go here*/

@media only screen and (min-width: 638px)
{
	/*Larger mobile device styles go here*/
}

@media only screen and (min-width: 875px)
{
	/*Portrait-mode tablet styles go here*/
}

@media only screen and (min-width: 1050px)
{
	/*Landscape-mode tablet styles go here*/
}

@media only screen and (min-width: 1260px)
{
	/*720p desktop styles go here (1280x720)*/
}

@media only screen and (min-width: 1900px)
{
	/*1080p desktop styles go here (1920x1080)*/
}

@media only screen and (min-width: 2028px)
{
	/*2K desktop styles go here (2048x1080)*/
}

@media only screen and (min-width: 2540px)
{
	/*1440p desktop styles go here (2560x1440)*/
}

@media only screen and (min-width: 3120px)
{
	/*Intermediary breakpoint between 1440p and 4K*/
}

@media only screen and (min-width: 3820px)
{
	/*4K desktop styles go here (3840x2560)*/
}

@media only screen and (min-width: 4560px)
{
	/*Intermediary breakpoint 1 between 4K and 8K*/
}

@media only screen and (min-width: 5240px)
{
	/*Intermediary breakpoint 2 between 4K and 8K*/
}

@media only screen and (min-width: 5920px)
{
	/*Intermediary breakpoint 3 between 4K and 8K*/
}

@media only screen and (min-width: 6880px)
{
	/*Intermediary breakpoint 4 between 4K and 8K*/
}

@media only screen and (min-width: 7200px)
{
	/*Intermediary breakpoint 5 between 4K and 8K*/
}

@media only screen and (min-width: 7660px)
{
	/*8K and above desktop styles go here (7680x3840)*/
}

/*Animation styles go here*/